# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	#log loghost	local0 info
	maxconn 4096
	#chroot /usr/share/haproxy
	user haproxy
	group haproxy
	daemon
	#debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000

frontend www 10.250.14.101:80
    	mode http
	acl is_post method POST
	tcp-request content reject if is_post
	acl www_1_acl hdr(User-Agent) AAAA
	acl www_2_acl hdr(User-Agent) BBBB
	use_backend www_1 if www_1_acl
	use_backend www_2 if www_2_acl
	default_backend valid

listen stats :1936
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:toto42

backend www_1
	mode http
	option forwardfor
  	option httpclose
  	option httpchk HEAD / HTTP/1.0
	server w1 10.250.14.120:80

backend www_2
	mode http
	option forwardfor
  	option httpclose
  	option httpchk HEAD / HTTP/1.0
	server w1 10.250.14.121:80

backend valid
	balance roundrobin
	mode http
	option forwardfor
  	option httpclose
  	option httpchk HEAD / HTTP/1.0
	server w1 10.250.14.120:80
	server w1 10.250.14.121:80

	#errorloc	502	http://192.168.114.58/error502.html
	#errorfile	503	/etc/haproxy/errors/503.http
	errorfile	400	/etc/haproxy/errors/400.http
	errorfile	403	/etc/haproxy/errors/403.http
	errorfile	408	/etc/haproxy/errors/408.http
	errorfile	500	/etc/haproxy/errors/500.http
	errorfile	502	/etc/haproxy/errors/502.http
	errorfile	503	/etc/haproxy/errors/503.http
	errorfile	504	/etc/haproxy/errors/504.http
